body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #F5F5F5;
    color: #333333;
}

.container {
    margin: 150px auto;
}

.content {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #cccccc;
}

.container-inner {
    padding: 15px 20px;
}

.logo {
    color: #08c;
    text-align: right;
    font-size: 22px;
    line-height: 2;
    font-weight: bold;
}

.input-area {
    margin: 0 auto 20px;
}

.url-form {
    margin: 0;
    position: relative;
}

#original_url {
    width: 80%; 
    height: 40px;
    background-color: #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    padding: 2px 8px 1px 8px;
    font-size: 14px;
}

#url_submit {
    height: 45px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

.result-url {
    border: medium none;
    color: #1155CC;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    vertical-align: middle;
}

.expire-at {
    width: 150px;
}

.optional-text {
    color: #9e9e9e;
}
